
.banner {
    background: var(--creme-degrade);
    color: var(--marrom-claro);
    text-align: center;
    padding: 2.5em 2em;
}
.banner_titulo{
    font-size: 1.125rem;
    font-weight: 700;
}

.banner_texto{
    font-weight: 500;
    margin: 1rem 0;
}

.banner_pesquisa_conteiner{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
}

.banner_pesquisa{
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 1px solid var(--marrom-claro);
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
    padding-right: 1.5rem;
    width: 100%;
    color: var(--marrom-claro); 
}

.banner_pesquisa_icone{
    position: absolute;
    transform: translateY(-50%);
    background-image: url('/assets/lupa.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: 10px;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
}

