
.banner {
    background: var(--creme-degrade);
    color: var(--marrom-claro);
    text-align: center;
    padding: 2.5em 2em;
}
.banner_titulo, .email_titulo{
    font-size: 1.125em;
    font-weight: 700;
}

.banner_texto, .email_texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner_pesquisa_conteiner{
    position: relative;
    display: inline-block;
}

.banner_pesquisa{
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid var(--marrom-claro);
    padding: 1em;
    width: 100%;
    color: var(--preto);

}

.banner_pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background-image: url("../assets/lupa.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}

.email{
    background-color: var(--branco);
    color: var(--marrom);
    text-align: start;
    padding: 2.5em 2em;
}

.email_cadastro{
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid var(--marrom-claro);
    padding: 1em;
    width: 70%;
}

.email_cadastro::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--marrom-claro);
    background-image: url("../assets/Email.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}

@media (min-width: 768px) and (max-width: 1024px){
    .banner_pesquisa{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .banner_pesquisa{
        width: 50%;
    } 
}