.carrossel_conteiner {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.carrossel_titulo{
    text-align: center;
    color: var(--marrom-claro);
    font-size: 1.125rem;
    font-weight: 700;
    background-color: var(--branco);
    padding: 1em;
    text-transform: uppercase;
}

.swiper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.swiper-slide img{
    width: 100%;
    height: auto;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em;
}

.card{
    background-color: var(--branco);
    padding: 1em;
    border-radius: 0.625em;
    margin: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.card_titulo{
    font-size: 1.125em;
    font-weight: 700;
    color: var(--marrom-claro);
    text-transform: uppercase;
}

.card_subtitulo{
    font-weight: 600;
    margin: 1em 0;
    color: var(--marrom);
}

.card_texto{
    font-weight: 500;
    margin: 1em 0;
    color: var(--preto-claro);
}

.card_infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-primaria);
    color: var(--preto);
    padding: 1em;
}

.img{
    display: flex;
    height: auto;
    width: 50%;
}

.card_botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.botao{
    text-decoration: none;
    background: var(--marrom-claro);
    color: var(--branco);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: var(--marrom);
}

.mais_visitados{
    width: 100%;
}

.visitados{
    text-align: center;
    background: var(--creme-degrade);
    padding: 2.5em 2em;
}

.lista{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    list-style-type: none;
}

.lista_itens{
    margin: 0.5em;
}

.lista_itens a {
    text-decoration: none;
    display: inline-block;
    color: var(--marrom-claro); 
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--branco); 
    transition: background-color 0.3s;
}

.lista_itens a:hover {
    background-color: var(--marrom); 
}


/* Tablets (entre 768px e 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .carrossel_conteiner{
        flex-direction: column;
        align-items: center;
    }

    .carrossel, .card{
        width: 50%;
    }
    .carrossel_titulo{
        padding: 1.5em;
    }

    .swiper{
        width: 78%;
        margin: 5em auto;
    }

    .swiper-slide img{
        width: auto;
        max-width: 100%;
    }

    .card{
        margin-bottom: 1em;
    }
}


@media (min-width: 1024px) {
    .carrossel_titulo{
        padding: 1.5em;
    }

    .swiper{
        width: 78%;
        margin: 5em auto;
    }

    .swiper-slide img{
        width: auto;
        max-width: 100%;
    }
    .carrossel_conteiner{
        flex-direction: row;
        /*overflow-x: auto;*/
        gap: 20px;
    }

    .carrossel, .card{
        width: 50%;
    }
}
