.cabecalho{
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 1.125rem;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho_menu_hamburguer{
    background-image: url('/assets/Menu.svg');
    display: inline-block;
    width: 2.25rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem; 
}

.cabecalho_link{
    margin-left: 1rem;
}

