.cabecalho{
    position: relative;
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em 1.125em;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho_menu_hamburguer{
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    width: 2.25em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em; 
}

.cabecalho_link{
    margin-left: 1em;
}

